.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  height: 342px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card.background {
  border-top: 1px solid black;
  position: relative;
  background-color: white;
  top: 0;
  left: 0;
  opacity: 0.6;
}