textarea.field {
  position: absolute;
  border: 2px solid black;
  padding: 3px 10px;
  box-shadow: 1px 1px 0 black;
  height: 90px;
  resize: none;
  outline: none;
  background: top left repeat url('../assets/patterns/5.svg');
}