.field {
  position: absolute;
  border: 1px solid black;
  padding: 3px 10px;
  height: 90px;
  resize: none;
  outline: none;
  
}

.editMode {

  /*   background-image: top left repeat url('../assets/patterns/5.svg'); */

  background-image:
    linear-gradient(#fff, #fff),
    repeating-linear-gradient(-45deg, #000 0, #000 12.5%, transparent 0, transparent 25%, #000 0, #000 37.5%, transparent 0,transparent 50%);
    
  background-repeat: repeat, repeat, repeat;
  background-clip: padding-box, border-box;
  border: 1px solid rgba(0,0,0,0);
	background-size: 1em 1em, 1em 1em;
	animation: ants 20s linear infinite;
}

@keyframes ants {
	to { background-position: 100% 100%; }
}