.menubar {
  box-sizing: border-box;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
  display: flex;
  padding-left: 10px;
}

.menubar.backgroundMode {
  background-image: url('../assets/patterns/stripe.svg'), url('../assets/patterns/stripe.svg');
  background-position: top left, bottom left;
  background-repeat: repeat-x, repeat-x;
}