.title {
  padding: 2px 4px;
  position: relative;
}

.title:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.shortcut {
  float: right;
}

.section {
  border-top: 1px solid black;
}