.menubar {
  box-sizing: border-box;
/*   border-top: 3px solid transparent; */
/*   border-bottom: 3px solid transparent; */
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
  display: flex;
  padding-left: 10px;
}

.menubar.backgroundMode {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-image: repeating-linear-gradient( -45deg, black, black 2px, white 2px, white 8px) 3;
}