@font-face {
    font-family: Chicago;
    src: url('./assets/fonts/ChicagoFLF.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Chicago';
  font-size: 12px;
  box-sizing: border-box;
}

.movable:hover {
  cursor: grab;
}

.movable:active {
  cursor: grabbing;
}

#desktop {
  display: grid;
  place-content: center;
  height: 100vh;
  background-size: 6px;
  background-position: top left;
  background-repeat: repeat;
  background-color: white;
  background-image: url('./assets/patterns/3.svg');
}

#stack {
  position: relative;
}

#debuggerbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
#debuggerbar button {
  margin: 4px 6px;
}