@font-face {
    font-family: Chicago;
    src: url('./assets/ChicagoFLF.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Chicago';
  font-size: 12px;
  box-sizing: border-box;
}

#stack {
  display: grid;
  place-content: center;
  height: 100vh;
  background-size: 6px;
  background-position: top left;
  background-repeat: repeat;
  background-color: white;
  background-image: url('./assets/patterns/3.svg');
}